html{
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}
body{
    background-color: #fafafa50;
    color: #595757;
    margin:0px;
}
div.cabecalho{
    background-color: black;
}
header{
    color: white;
    align-content: center;
    text-align: center;
    background-image: url('../imagens/orla.jpg');
    opacity: 0.5;
    height: 400px;
    display: grid;
}
h1{
    opacity: 1;
}
h1: